.summary{
    position: sticky;
    top: 0;
    padding: 30px 20px;
}
.title{
    line-height: 10px;
    text-align: center;
}
.personal-info{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: lightpink;
    border-radius: 10px;
}
.course-details{
    background-color: lightskyblue;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
.completed{
    text-align: center;
    border-color: cornflowerblue;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    font-size: 20px;
}
.completed-btn{
    text-align: center;
    background-color: brown;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}